@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}
.div {
min-width: 100%;
min-height: 100%;
border-color: white;
}
.head {
  width: 100%;
  background-image: url(../img/hbg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
}
h5 {
  font-weight: bold;
}
.header p {
  color: white;

}
.header {
  padding: 10%;
}
.head button {
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Open Sans', sans-serif;
  font-size: 65%;
  font-weight: bold;
  background-color: #e84545;
  color: white;
  border: 0;
  border-radius: 2px;
}
.logo {
  float: left;
  vertical-align: middle;
}
li {
  display: inline;
  float: right;
    padding: 2%;
    font-size: 65%;
}
a:link, a:visited, a:active, a:hover{
color: white;
text-decoration: none;
}

.header-content {
margin: auto;
width:  80%;
border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.header img {
  vertical-align: middle;
}

.features p {
color: #808080;
}
.features {
  margin: 10%;
  background-color: white;
}
.works {
  padding: 0;
  margin: 0;
  display: block;
}
.works img {
width: 100%;
padding: 0;
margin: 0;
}
.team {
  margin-left: 0;
  width: auto;
  padding: 10%;
}
.team p {
  color: #808080;
}
.footer {
  text-align: center; }
  .footer-top {
    background-color: #3a3e64;
    padding-top: 50px; }
  .footer-bottom {
    background-color: #313454;
    padding: 20px 0; }
  .footer .footer-col {
    margin-bottom: 80px; }
  .footer h5 {
    color: #fff; }
  .footer h5 {
    margin-bottom: 20px; }
  .footer p {
    color: rgba(255, 255, 255, 0.5); }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #e84545; }
  .footer .footer-share {
    margin-top: 0; }
    .footer .footer-share li {
      display: inline-block;
      float: none; }
    .footer .footer-share a {
      border-width: 2px;
      color: #fff; }
